html,body,ul,li,div,p,span,i{
    margin: 0;
    padding: 0;
}
html,body{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 20px;
}
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:50px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.music-btn{
    display: block;
    position:fixed;
    right:10px;
    top:10px;
    width:44px;
    height:44px;
    background:url(images/music.png) no-repeat;
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    z-index:100; 
 }
 /*指示箭头*/
.arrow{
    position: fixed;
    width:16%;
    left:42%;
    bottom:1%;
    z-index:100;
}
.photo{
    position: absolute;
    width:42%;
    height:3.5rem;
    top: 6.5%;
    left: 29%;
    border-radius:50%;
}
.resume{
    position: absolute;
    top: 40%;
    width: 80%;    
    left: 22%;
    font-weight: bold;
    font-size: 2.6em;
    color: #37474F;
    text-shadow: 2px 2px 5px #424242;
    font-family: "DejaVu Sans"
}
.position{
    position: absolute;
    top: 67%;
    left: 28%;
    font-weight: bold;
    font-size: 0.9em;
    color: #212121;
}
.name{
    position: absolute;
    top: 80%;
    left: 43%;
    font-weight: bold;
    font-size: 0.9em;
    color: #212121;
}
.swiper-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.swiper-slide{
    width: 100%;
    height: 100%;
}
.page1{
    background-color: #CFD8DC;
}
.page2{
    background-color: #EDE7F6;
}
.page3{
    background-color: #FFFDE7;
}
.page4{
    background-color: #E0F7FA;
}
.page5{
    background-color: #F3E5F5;
}
.page6{
    background-color: #FFEBEE;
}
.page3-c{
    width: 95%;
}
.font1{
    display: block;
    margin-top: 0.5rem;
    margin-left: 33%;
    margin-bottom: 0.4rem;
    color: #00838F;
    font-size: 6.2em;
}
.font2{
    margin-top: -0.01rem;
}
.font3{
    margin-top: -0.01rem;
    font-size: 5.8em;
    margin-left: 37%;
}
.font8{
    margin-top: 0.07rem;
}
.font4{
    position: absolute;
    top: 76%;
    left: 3%;
    font-size: 4.1em;
    color: #40C4FF;
}
.font5{
    position: absolute;
    top: 79%;
    left: 28%;
    font-size: 3.6em;
    color: #78909C;
}
.font6{
    position: absolute;
    top: 79%;
    left: 54%;
    font-size: 3.4em;
    color: #69F0AE;
}
.font7{
    position: absolute;
    top: 79%;
    left: 78%;
    font-size: 3.4em;
    color: #37474F;
}
.font9{
    position: absolute;
    top: 3.2rem;
    left: 10%;
    font-size: 3.7em;
    color: #006064;
}
.hobby1{
    top: 4.75rem;
    left: 14%;
}
.font10{
    position: absolute;
    top: 3.28rem;
    left: 40%;
    font-size: 3.8em;
    color: #006064;
}
.hobby2{
    top: 4.77rem;
    left: 47%;
}
.font11{
    position: absolute;
    top: 3.26rem;
    left: 70%;
    font-size: 3.9em;
    color: #006064;
}
.hobby3{
    top: 4.78rem;
    left: 76%;
}
.font12{
    position: absolute;
    top: 5.1rem;
    left: 11%;
    font-size: 3.8em;
    color: #006064;
}
.hobby4{
    top: 6.64rem;
    left: 18%;
}
.font13{
    position: absolute;
    top: 5.25rem;
    left: 42%;
    font-size: 3.6em;
    color: #006064;
}
.hobby5{
    top: 6.66rem;
    left: 48.5%;
}
.font14{
    position: absolute;
    top: 5.29rem;
    left: 71%;
    font-size: 3.5em;
    color: #006064;
}
.hobby6{
    top: 6.69rem;
    left: 77%;
}
.font15{
    position: absolute;
    top: 7.15rem;
    left: 11%;
    font-size: 3.4em;
    color: #006064;
}
.hobby7{
    top: 8.55rem;
    left: 18%;
}
.font16{
    position: absolute;
    top: 7.03rem;
    left: 41%;
    font-size: 3.8em;
    color: #006064;
}
.hobby8{
    top: 8.55rem;
    left: 48.5%;
}
.font17{
    position: absolute;
    top: 7.07rem;
    left: 72%;
    font-size: 3.3em;
    color: #006064;
}
.hobby9{
    top: 8.57rem;
    left: 76.5%;
}
.hobby{
    position: absolute;
    font-size: 0.6em;
}
.page5 i:not(.font8){
    color: #00838F;
}

.info{
    margin-top: -0.15rem;
    margin-bottom: 0.2rem;
    margin-left: 37%;
    font-weight: bold;
    font-size: 1.2em;
    color: #212121;
}
.info3{
    margin-left: 38%;
    margin-top: -0.5rem;
}
.box{
    margin-left: 35%;
    font-size: 0.7em;
    line-height: 0.9rem;
}
.project{
    font-size: 0.8em;
    font-weight: bold;
    color: #212121;
    margin-left: 11%;
    margin-top: 0.07rem;
}
.time{
    font-size: 0.4em;
    color: #212121;
    margin-left: 11%;
}
.content{
    font-size: 0.7em;
    color: #212121;
    margin-left: 11%;
    margin-top: 0.1rem
}
.content2{
    margin-top: 0.2rem
}
.content2 li{
    margin-bottom: 0.15rem;
}
.info4{
    margin-top: -0.6rem;
    margin-left: 36%
}
/*.info44{
    margin-top: -0.62rem;
    margin-left: 36.5%
}*/
.info{
    margin-top: -0.15rem;
    margin-bottom: 0.2rem;
    margin-left: 37%;
    font-weight: bold;
    font-size: 1.2em;
    color: #212121;
}
.info5{
    position: absolute;
    top: 2.28rem;
    color: #212121;
    font-weight: bold;
}
/*.font44{
    display: block;
    margin-bottom: 0.4rem;
    color: #00838F;
    margin-top: 0.01%;
    font-size: 8em;
    margin-left: 27%;
}*/
.font18{
    position: absolute;
    top: -0.65rem;
    font-size: 8em;
    left: 27%;
    color: #00838F;
}
.font19{
    position: absolute;
    font-size: 1.7em;
    color: #0097A7
}
.word{
    position: absolute;
    font-size: 0.8em;
}
.font20{
    top: 2.66rem;
    left: 44.5%;
}
.font21{
    top: 3.82rem;
    left: 44.7%;
}
.font22{
    top: 4.82rem;
    left: 44.9%;
}
.font23{
    top: 5.88rem;
    left: 45%;
}
.word1{
    top: 3.4rem;
    left: 35.6%;
}
.word2{
    top: 4.53rem;
    left: 38.2%;
}
.word3{
    top: 5.52rem;
    left: 25.2%;
}
.word4{
    top: 6.56rem;
    left: 40.8%;
}
.wechat{
    display: block;
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    top: 7.05rem;
    left: 36%
}
