html,body,ul,li,div,p{
    margin: 0;
    padding: 0;
}
html,body{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 20px;
}
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:50px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.music-btn{
    display: block;
    position:fixed;
    right:10px;
    top:10px;
    width:44px;
    height:44px;
    background:url(images/music.png) no-repeat;
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    z-index:100; 
 }
 /*指示箭头*/
.arrow{
    position: fixed;
    width:16%;
    left:42%;
    bottom:1%;
    z-index:100;
}
.photo{
    position: absolute;
    width:42%;
    height:3.5rem;
    top: 1.2rem;
    left: 29%;
    border-radius:50%;
}
.resume{
    position: absolute;
    top: 4.4rem;
    width: 80%;    
    left: 22%;
    font-weight: bold;
    font-size: 2.6em;
    color: #37474F;
    text-shadow: 2px 2px 5px #424242;
    font-family: "DejaVu Sans"
}
.position{
    position: absolute;
    top: 7.1rem;
    left: 28%;
    font-weight: bold;
    font-size: 0.9em;
    color: #212121;
}
.name{
    position: absolute;
    top: 8.6rem;
    left: 43%;
    font-weight: bold;
    font-size: 0.9em;
    color: #212121;
}
.swiper-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.swiper-slide{
    width: 100%;
    height: 100%;
}
.page1{
    background-color: #CFD8DC;
}
.page2{
    background-color: #E0F2F1;
}
.page3{
    background-color: #FFFDE7;
}
.page3-c{
    width: 95%;
}
.font1{
    display: block;
    margin-top: 0.5rem;
    margin-left: 33%;
    margin-bottom: 0.4rem;
    color: #00838F;
    font-size: 6.2em;
}
.font2{
    margin-top: 0.4rem;
}
.info{
    margin-top: 0.1rem;
    margin-bottom: 0.4rem;
    margin-left: 37%;
    font-weight: bold;
    font-size: 1.2em;
    color: #212121;
}
.box{
    margin-left: 35%;
    font-size: 0.7em;
    line-height: 0.9rem;
}
.project{
    font-size: 0.8em;
    font-weight: bold;
    color: #212121;
    margin-left: 11%;
    margin-top: 3%;
}
.time{
    font-size: 0.4em;
    color: #212121;
    margin-left: 11%;
}
.content{
    font-size: 0.7em;
    color: #212121;
    margin-left: 11%;
    margin-top: 0.2rem
}
/*.page1 p{
    text-align: center;
    color:#fff;
    line-height: 18px;
    margin-top: 15px;
    font-weight: bold;
}*/
/*.page1-1{position: absolute;top: 0;left: 0;width: 100%;height: 2.8rem;background-size: 100% 100%;background: url() no-repeat;}*/