@media(max-width: 320px){
	.photo{
		left: 30%;
        top: 1rem;
	}
	.resume{
    	top: 4.1rem;
		left: 20%;
	}
	.position{
    	top: 6.8rem;
		left: 26%;
	}
	.name{
		top: 8.5rem;
   	    left: 42%;
	}
	.font2{
		display: none;
	}
	.info{
		margin-top: 5%;
		margin-bottom: 0.2rem;
	}
	.font3{
		display: none;
	}
	.font8{
		margin-top: -0.03rem;
	}
	.info4{
		margin-top: -0.5rem;
	}
	.font4{
		top: 6.77rem;
	}
	.font5{
		top: 7.12rem;
	}
	.font6{
		top: 7.12rem;
	}
	.font7{
		top: 7.12rem;
	}
	.font18{
		display: none;
	}
	.info5{
		top: 0.06rem;
		left: -0.3%
	}
	.font20{
	    top: 1.15rem;
	}
	.font21{
	    top: 2.35rem;
	}
	.font22{
	    top: 3.35rem;
	}
	.font23{
	    top: 4.45rem;
	}
	.word1{
	    top: 1.91rem;
	}
	.word2{
	    top: 3.05rem;
	}
	.word3{
	    top: 4.04rem;
	}
	.word4{
	    top: 5.08rem;
	}
	.wechat{
		top: 5.6rem;
		left: 37%
	}
}
@media(min-width: 375px){
	.photo{
		left: 30%;
	}
	.resume{
		left: 23%;
	}
	.position{
		left: 29%;
	}
	.font2{
		margin-top: 0.19rem;
	}
	.info2{
		margin-bottom: 0.01rem;
	}
	.project{
		margin-top: 0.15rem;
	}
	.font4{
	    top: 7.72rem;
	}
	.font5{
	    top: 8rem;
	}
	.font6{
	    top: 8rem;
	}
	.font7{
	    top: 8rem;
	}
	.word1{
	    top: 3.78rem;
	    left: 37.6%;
	}
	.word2{
	    top: 4.78rem;
	    left: 39.6%;
	}
	.word3{
	    top: 5.64rem;
	    left: 27.5%;
	}
	.word4{
	    top: 6.59rem;
	    left: 42.5%;
	}
}
@media(min-width: 411px){
	.resume{
		left: 25%;
		top: 4.8rem;
	}
	.position{
		left: 31%;
	}
	.name{
		left: 44%;
	}
	.project{
		margin-top: 9%;
	}
	.font4{
	    top: 7.05rem;
	}
	.font5{
	    top: 7.25rem;
	}
	.font6{
	    top: 7.25rem;
	}
	.font7{
	    top: 7.25rem;
	}
	.info3{
		margin-top: -0.3rem;
	}
	.info5{
		left: 0.7%
	}
	.font18{
		left: 29.5%
	}
	.word3{
	    top: 5.62rem;
	    left: 27.5%;
	}
	.wechat{
	    left: 36.2%
	}
}
@media(min-width: 600px){
	.photo{
		left: 30%;
	}
	.resume{
		left: 33%;
		top: 4.8rem;
	}
	.position{
   	 	top: 6.5rem;
		left: 37%;
	}
	.name{
    	top: 7.8rem;
		left: 46%;
	}
	.font3{
		margin-top: 0.6rem;
	    font-size: 8em;
	    margin-left: 39%;
	}
	.info3{
		margin-left: 41%;
		font-size: 1.6em;
    	margin-top: -0.2rem;
	}
	.content2 li{
		width: 84%;
		font-size: 1.4em;
		margin-left: 11%;
	}
	.font8{
		margin-left: 40%;
	}
	.hobby{
		font-size: 0.9em;
	}
	.font9{
	    top: 2.8rem;
	    left: 14%;
	    font-size: 4.2em;
	}
	.hobby1{
	    top: 4.15rem;
	    left: 15.5%;
	}
	.font10{
	    top: 2.88rem;
	    left: 43.5%;
	    font-size: 4.2em;
	}
	.hobby2{
	    top: 4.16rem;
	    left: 47%;
	}
	.font11{
	    top: 2.86rem;
	    left: 73%;
	    font-size: 4.3em;
	}
	.hobby3{
	    top: 4.16rem;
	    left: 76%;
	}
	.font12{
	    top: 4.88rem;
	    left: 14%;
	    font-size: 4.2em;
	}
	.hobby4{
	    top: 6.15rem;
	    left: 18%;
	}
	.font13{
	    top: 4.95rem;
	    left: 45%;
	    font-size: 4em;
	}
	.hobby5{
	    top: 6.18rem;
	    left: 48.5%;
	}
	.font14{
	    top: 5rem;
	    left: 73%;
	    font-size: 3.9em;
	}
	.hobby6{
	    top: 6.2rem;
	    left: 77.5%;
	}
	.font15{
	    top: 6.95rem;
	    left: 15%;
	    font-size: 3.8em;
	}
	.hobby7{
	    top: 8.15rem;
	    left: 18.5%;
	}
	.font16{
	    top: 6.85rem;
	    left: 44%;
	    font-size: 4.2em;
	}
	.hobby8{
	    top: 8.15rem;
	    left: 48.5%;
	}
	.font17{
	    top: 6.88rem;
	    left: 74.5%;
	    font-size: 3.7em;
	}
	.hobby9{
	    top: 8.17rem;
	    left: 76.5%;
	}
	.font18{
		left: 32%;
		font-size: 10.5em;
	}
	.info5{
		left: 5.5%
	}
	.font19{
	    font-size: 2.3em;
	}
	.word{
	    font-size: 1.2em;
	}
	.font20{
	    left: 46.4%;
	}
	.font21{
	    left: 46.4%;
	}
	.font22{
	    left: 46.6%;
	}
	.font23{
	    left: 46.7%;
	}
	.word1{
	    left: 38.3%;
	}
	.word2{
	    left: 39.9%;
	}
	.word3{
	    left: 27.9%;
	}
	.word4{
	    left: 43.5%;
	}
	.wechat{
	    left: 37%
	}
}
@media(min-width: 768px){

	.photo{
    	top: 0.6rem;
		left: 29%;
	}
	.resume{
		left: 36%;
		top: 4.2rem;
    	font-size: 2.8em;
	}
	.position{
   	 	top: 5.7rem;
		left: 38%;
    	font-size: 1.1em;
	}
	.name{
    	top: 6.5rem;
		left: 46%;
   	 	font-size: 1.1em;
	}
	.box{
		font-size: 1.2em
	}
	.font2{
    	font-size: 8.5em;
    	margin-left: 39%;
	}
	.info2{
		font-size: 2em;
		margin-left: 40%
	}
	.project{
	    font-size: 1.4em;
	    font-weight: bold;
	    color: #212121;
	    margin-left: 15%;
	    margin-top: 2.5%;
	}
	.time{
	    font-size: 0.8em;
	    color: #212121;
	    margin-left: 15%;
	}
	.content{
	    font-size: 1.1em;
	    color: #212121;
	    margin-left: 15%;
	    margin-top: 0.2rem
	}
	.font3{
		margin-top: 0.3rem;
	    font-size: 8.3em;
	    margin-left: 42%;
	}
	.info3{
		margin-left: 43%;
		font-size: 1.8em;
    	margin-top: -0.2rem;
	}
	.content2 li{
		font-size: 1.1em;
	    color: #212121;
	    margin-left: 5%;
	    margin-top: 0.2rem
	}
	.font4{
	    bottom: 9%;
	    left: 8%;
	    font-size: 4.5em;
	}
	.font5{
	    bottom: 8%;
	    left: 32%;
	    font-size: 4em;
	}
	.font6{
	    bottom: 9%;
	    left: 58%;
	    font-size: 3.8em;
	}
	.font7{
	    bottom: 9%;
	    left: 82%;
	    font-size: 3.8em;
	}
	.font8{
		margin-top: 0.5rem;
	}
	.info4{
		margin-left: 39.5%;
		margin-top: -0.03rem
	}
	.hobby{
		font-size: 1.1em;
	}
	.font9{
	    top: 2.6rem;
	    left: 15%;
	    font-size: 4.3em;
	}
	.hobby1{
	    top: 3.61rem;
	    left: 15.2%;
	}
	.font10{
	    top: 2.68rem;
	    left: 43.5%;
	    font-size: 4.3em;
	}
	.hobby2{
	    top: 3.61rem;
	    left: 46.1%;
	}
	.font11{
	    top: 2.66rem;
	    left: 73%;
	    font-size: 4.4em;
	}
	.hobby3{
	    top: 3.61rem;
	    left: 75.1%;
	}
	.font12{
	    top: 4.18rem;
	    left: 14%;
	    font-size: 4.3em;
	}
	.hobby4{
	    top: 5.2rem;
	    left: 17%;
	}
	.font13{
	    top: 4.25rem;
	    left: 45%;
	    font-size: 4.1em;
	}
	.hobby5{
	    top: 5.22rem;
	    left: 47.5%;
	}
	.font14{
	    top: 4.3rem;
	    left: 73%;
	    font-size: 4em;
	}
	.hobby6{
	    top: 5.23rem;
	    left: 76.5%;
	}
	.font15{
	    top: 5.93rem;
	    left: 15.5%;
	    font-size: 3.9em;
	}
	.hobby7{
	    top: 6.88rem;
	    left: 18%;
	}
	.font16{
	    top: 5.9rem;
	    left: 44.8%;
	    font-size: 4.3em;
	}
	.hobby8{
	    top: 6.91rem;
	    left: 47.8%;
	}
	.font17{
	    top: 5.9rem;
	    left: 74.8%;
	    font-size: 3.8em;
	}
	.hobby9{
	    top: 6.92rem;
	    left: 76.5%;
	}
	.font18{
		left: 35.5%;
		top: 0.01rem;
	}
	.info5{
		left: 3.8%;
		top: 2.06rem;
		font-size: 1.7em;
	}
	.font19{
	    font-size: 3em;
	}
	.word{
	    font-size: 1.3em;
	}
	.font20{
	    top: 2.28rem;
	    left: 45.6%;
	}
	.font21{
	    top: 3.25rem;
	    left: 45.6%;
	}
	.font22{
	    top: 4.15rem;
	    left: 45.7%;
	}
	.font23{
	    top: 5.08rem;
	    left: 46.1%;
	}
	.word1{
	    top: 2.91rem;
	    left: 39.1%;
	}
	.word2{
	    top: 3.9rem;
	    left: 41.5%;
	}
	.word3{
	    top: 4.74rem;
	    left: 31.6%;
	}
	.word4{
	    top: 5.68rem;
	    left: 43.6%;
	}
	.wechat{
	    top: 6.1rem;
	    left: 36.3%
	}
}